# Week102 Intermediate Snowflake Pandas

In [ ]:
create or replace stage frosty_stage url = 's3://frostyfridaychallenges/challenge_102/';
list @frosty_stage;

In [ ]:
import modin.pandas as pd
import snowflake.snowpark.modin.plugin

from snowflake.snowpark.context import get_active_session
session = get_active_session()

clothes_shop_df = pd.read_csv('@frosty_stage/clothes_shop_purchases.csv')

In [ ]:
import streamlit as st
st.write(clothes_shop_df.dtypes)
st.dataframe(clothes_shop_df)

In [ ]:

df = clothes_shop_df.to_pandas()
result = df.groupby(df["Timestamp"].dt.hour).sum(numeric_only=True).sort_values("Total_Price", ascending=False)
st.dataframe(data=result,width=1000)

In [ ]:
df = clothes_shop_df.to_pandas()
result = df.groupby(df["Timestamp"].dt.hour).sum(numeric_only=True).sort_values("Total_Price", ascending=False).index[0]
st.write(result)

In [ ]:
df = clothes_shop_df.to_pandas()
result = df.groupby(df["Server"]).sum(numeric_only=True).sort_values("Total_Price", ascending=False).index[0]
st.write(result)

In [ ]:
df = clothes_shop_df.head(5)
# If apply() is used with operand *, it fails.
df["Total_Price_After_Tax"] = df["Total_Price"] * 0.8
st.dataframe(df[["Transaction_ID", "Total_Price", "Total_Price_After_Tax"]])

In [ ]:
df = clothes_shop_df
df = df.groupby(df["Till_Number"]).sum(numeric_only=True).sort_values("Total_Price", ascending=False)
st.dataframe(df[["Total_Price"]])